/* NAVBAR PART */
.nav-link {
  color: rgba(255, 255, 255, 0.65) !important;
}
.nav-link.active,
.nav-link:hover {
  color: #ffc107 !important;
}

/* SEEKER WELCOME BANNER */
.welcome-banner {
  background-color: #212529;
  color: white;
  border-radius: 8px;
}
.welcome-banner h2 {
  font-size: 1.75rem;
  font-weight: 800;
}
.welcome-banner h2 span {
  color: #ffc107;
}
.welcome-banner p {
  color: rgba(255, 255, 255, 0.75);
}
